<%- include('header.ejs') %>
<h1>Profile</h1>
<div>
    <p><%= user.name %></p>
    <p><%= user:user.username %></p>
    <p><%= user:user.phone %></p>
    <p><%= user:user.email %></p>
    <p><%= user:user.address %></p>

</div>
<br>
<a href="/">Back to Account Summary</a>
<%- include('footer') %>